.DS_Store
/Keyboard_HVC-007/KiCad/Nintendo_Famicom_Keyboard_HVC-007-backups
*.kicad_prl
Keyboard_HVC-007/KiCad/fp-info-cache
*.lck
/Family_BASIC/KiCad/Family_BASIC_Cartridge-backups
Family_BASIC/KiCad/fp-info-cache
/3D_System_HVC-032/KiCad/Nintendo_3D_System_HVC-032-backups
